<footer class="bg-gradient-black-bottom-transparent pb-30px">
            <div class="container">
                <div class="row footer-bottom border-top border-color-transparent-white-light pt-30px align-items-center">

							
                    <div class="col-lg-9 text-center text-lg-start">
														                            <div class="header-button">
                                <a href="https://yohoho.bet" class="btn btn-small btn-base-color btn-rounded btn-box-shadow btn-switch-text">
                                    <span>
                                        <span class="btn-double-text" data-text="hozir!">pul tikish</span>
                                    </span>
                                </a>
                            </div>
                        <br/><span class="fs-14 d-block lh-22">Copyright © {{ 'now' | date('Y') }} «Yohohobet»</span>
                    </div>

 
                </div>
            </div> 
        </footer>