<footer class="bg-gradient-black-bottom-transparent pb-30px">
            <div class="container">
                <div class="row footer-bottom border-top border-color-transparent-white-light pt-30px align-items-center">
                    <div class="col-lg-9 text-center text-lg-start">
                        <span class="fs-14 d-block lh-22">Copyright © {{ 'now' | date('Y') }} «Yohohobet». Yohohobet uses cookies to ensure you get the best experience. If you continue to browse the site, you agree to our use of cookies on Yohohobet</span>
                    </div>
 
                </div>
            </div> 
        </footer>